In [94]:
import numpy as np 
import pandas as pd

In [95]:
df=pd.read_csv("all_courses.csv")
df.shape

(267, 11)

In [96]:
df.head(5)

,Title,Type,Description,Level,Duration,Rating,Review Count,Skills Covered,Prerequisites,Affiliates,URL
0,Data Engineering with AWS,nanodegree,"Learn to design data models, build data wareho...",intermediate,4 Months,4.6,1802.0,"AWS Glue, Amazon S3, AWS Data Warehouse, Re...","Intermediate Python, intermediate SQL & comman...",NaN,https://www.udacity.com/course/data-engineer-n...
1,Product Manager,nanodegree,Envision and execute the development of indust...,beginner,4 Months,4.7,864.0,"Product Strategy, Product Design, Product Deve...",No Experience Required,NaN,https://www.udacity.com/course/product-manager...
2,C++,nanodegree,Get hands-on experience building five real-wor...,intermediate,4 Months,4.5,1126.0,"Data Structures & Algorithms, Memory Managemen...",Intermediate Programming,NaN,https://www.udacity.com/course/c-plus-plus-nan...
3,Business Analytics,nanodegree,Gain foundational data skills like analyzing d...,beginner,3 Months,4.8,2649.0,"Excel & Spreadsheets, SQL, Data Visualization,...",NaN,Mode,https://www.udacity.com/course/business-analyt...
4,Data Scientist,nanodegree,"Build effective machine learning models, run d...",advanced,4 Months,4.7,1212.0,"Machine Learning, Deep Learning, Software Engi...","Python, SQL & Statistics","Bertelsmann, Figure Eight, IBM Watson, Insight...",https://www.udacity.com/course/data-scientist-...

In [97]:
df.describe()

          Rating  Review Count
count  62.000000     62.000000
mean    4.595161    714.887097
std     0.123378    856.714006
min     4.300000     50.000000
25%     4.500000    151.000000
50%     4.600000    359.000000
75%     4.700000    849.000000
max     4.800000   3865.000000

In [98]:

print(df.columns)

Index(['Title', 'Type', 'Description', 'Level', 'Duration', 'Rating',
       'Review Count', 'Skills Covered', 'Prerequisites', 'Affiliates', 'URL'],
      dtype='object')

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           267 non-null    object
 1   Type            267 non-null    object
 2   Description     261 non-null    object
 3   Level           265 non-null    object
 4   Duration        263 non-null    object
 5   Rating          62 non-null     float64
 6   Review Count    62 non-null     float64
 7   Skills Covered  267 non-null    object
 8   Prerequisites   77 non-null     object
 9   Affiliates      138 non-null    object
 10  URL             267 non-null    object
dtypes: float64(2), object(9)
memory usage: 23.1+ KB

In [100]:
df.isnull().sum()

Title               0
Type                0
Description         6
Level               2
Duration            4
Rating            205
Review Count      205
Skills Covered      0
Prerequisites     190
Affiliates        129
URL                 0
dtype: int64

## Data Cleaning

In [101]:
# Removing duplicate rows
df = df.drop_duplicates()

In [102]:
df['Level'].fillna(df['Level'].mode()[0], inplace=True)
df['Skills Covered'].fillna(df['Skills Covered'].mode()[0], inplace=True)

In [103]:
print(df['Description'].head())

0    Learn to design data models, build data wareho...
1    Envision and execute the development of indust...
2    Get hands-on experience building five real-wor...
3    Gain foundational data skills like analyzing d...
4    Build effective machine learning models, run d...
Name: Description, dtype: object

In [104]:

df['Review Count'].fillna(df['Review Count'].median(), inplace=True)
df['Rating'].fillna(df['Rating'].mean(), inplace=True)

##Model_training

In [105]:
from sklearn.model_selection import train_test_split

train_data, test_data = train_test_split(df, test_size=0.2, random_state=42)

## Simplifying data

In [106]:
df = df[['Title','Level','Description','Skills Covered']]

In [107]:
df.dropna(subset=['Title'], inplace=True)  
df['Level'].fillna('Unknown', inplace=True)

In [108]:
df.head(5)

,Title,Level,Description,Skills Covered
0,Data Engineering with AWS,intermediate,"Learn to design data models, build data wareho...","AWS Glue, Amazon S3, AWS Data Warehouse, Re..."
1,Product Manager,beginner,Envision and execute the development of indust...,"Product Strategy, Product Design, Product Deve..."
2,C++,intermediate,Get hands-on experience building five real-wor...,"Data Structures & Algorithms, Memory Managemen..."
3,Business Analytics,beginner,Gain foundational data skills like analyzing d...,"Excel & Spreadsheets, SQL, Data Visualization,..."
4,Data Scientist,advanced,"Build effective machine learning models, run d...","Machine Learning, Deep Learning, Software Engi..."

In [109]:
df['tags'] = df['Description'] + ' ' + df['Title'] + ' ' + df['Skills Covered']
df['tags'] = df['tags'].str.lower()

In [110]:
df

,Title,Level,Description,Skills Covered,tags
0,Data Engineering with AWS,intermediate,"Learn to design data models, build data wareho...","AWS Glue, Amazon S3, AWS Data Warehouse, Re...","learn to design data models, build data wareho..."
1,Product Manager,beginner,Envision and execute the development of indust...,"Product Strategy, Product Design, Product Deve...",envision and execute the development of indust...
2,C++,intermediate,Get hands-on experience building five real-wor...,"Data Structures & Algorithms, Memory Managemen...",get hands-on experience building five real-wor...
3,Business Analytics,beginner,Gain foundational data skills like analyzing d...,"Excel & Spreadsheets, SQL, Data Visualization,...",gain foundational data skills like analyzing d...
4,Data Scientist,advanced,"Build effective machine learning models, run d...","Machine Learning, Deep Learning, Software Engi...","build effective machine learning models, run d..."
...,...,...,...,...,...
262,Front-End Interview Prep,intermediate,Answer front-end technical and behavioral inte...,"Interview questions, Common FE Questions, Whit...",answer front-end technical and behavioral inte...
263,Full-Stack Interview Prep,intermediate,Answer common full stack and web security inte...,"Interview practice, Common FS Questions, White...",answer common full stack and web security inte...
264,Data Structures & Algorithms in Swift,intermediate,Review and practice the skills technical inter...,"Interview practice, Swift, Data structures, Ca...",review and practice the skills technical inter...
265,iOS Interview Prep,intermediate,Answer iOS and mobile development interview qu...,"Interview practice, Common iOS Questions, Whit...",answer ios and mobile development interview qu...
266,VR Interview Prep,intermediate,Learn how to tackle interview questions for te...,"Interview practice, Common VR Questions, White...",learn how to tackle interview questions for te...

## Data Pre-Processing

In [111]:
df['tags'] = df['tags'].str.replace('[^\w\s]', " ")
df.head()

,Title,Level,Description,Skills Covered,tags
0,Data Engineering with AWS,intermediate,"Learn to design data models, build data wareho...","AWS Glue, Amazon S3, AWS Data Warehouse, Re...","learn to design data models, build data wareho..."
1,Product Manager,beginner,Envision and execute the development of indust...,"Product Strategy, Product Design, Product Deve...",envision and execute the development of indust...
2,C++,intermediate,Get hands-on experience building five real-wor...,"Data Structures & Algorithms, Memory Managemen...",get hands-on experience building five real-wor...
3,Business Analytics,beginner,Gain foundational data skills like analyzing d...,"Excel & Spreadsheets, SQL, Data Visualization,...",gain foundational data skills like analyzing d...
4,Data Scientist,advanced,"Build effective machine learning models, run d...","Machine Learning, Deep Learning, Software Engi...","build effective machine learning models, run d..."

In [112]:
df['tags']

0      learn to design data models, build data wareho...
1      envision and execute the development of indust...
2      get hands-on experience building five real-wor...
3      gain foundational data skills like analyzing d...
4      build effective machine learning models, run d...
                             ...
262    answer front-end technical and behavioral inte...
263    answer common full stack and web security inte...
264    review and practice the skills technical inter...
265    answer ios and mobile development interview qu...
266    learn how to tackle interview questions for te...
Name: tags, Length: 267, dtype: object

In [113]:
df.head(5)

,Title,Level,Description,Skills Covered,tags
0,Data Engineering with AWS,intermediate,"Learn to design data models, build data wareho...","AWS Glue, Amazon S3, AWS Data Warehouse, Re...","learn to design data models, build data wareho..."
1,Product Manager,beginner,Envision and execute the development of indust...,"Product Strategy, Product Design, Product Deve...",envision and execute the development of indust...
2,C++,intermediate,Get hands-on experience building five real-wor...,"Data Structures & Algorithms, Memory Managemen...",get hands-on experience building five real-wor...
3,Business Analytics,beginner,Gain foundational data skills like analyzing d...,"Excel & Spreadsheets, SQL, Data Visualization,...",gain foundational data skills like analyzing d...
4,Data Scientist,advanced,"Build effective machine learning models, run d...","Machine Learning, Deep Learning, Software Engi...","build effective machine learning models, run d..."

In [114]:
df['tags'].iloc[1]

'envision and execute the development of industry-defining products, and learn how to successfully bring them to market. product manager product strategy, product design, product development, design sprint, product launch'

In [124]:
new_df = df[['Title','tags']]

In [116]:
new_df.head(5)

,Title,tags
0,Data Engineering with AWS,"learn to design data models, build data wareho..."
1,Product Manager,envision and execute the development of indust...
2,C++,get hands-on experience building five real-wor...
3,Business Analytics,gain foundational data skills like analyzing d...
4,Data Scientist,"build effective machine learning models, run d..."

In [117]:
new_df.shape

(267, 2)

## Text vectorization

In [118]:
from sklearn.feature_extraction.text import CountVectorizer

# a copy of the 'tags' column
tags_copy = new_df['tags'].copy()

tags_copy.fillna('', inplace=True)
cv = CountVectorizer(max_features=5000, stop_words='english')
count_matrix = cv.fit_transform(tags_copy)
vectors = cv.fit_transform(tags_copy).toarray()

In [119]:
import numpy as np

# Replace NaN values in the 'tags' column with an empty string
new_df['tags'] = new_df['tags'].replace(np.nan, '')

C:\Users\ishs4\AppData\Local\Temp\ipykernel_9040\2296560127.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].replace(np.nan, '')

## Similarity Measure

In [120]:
df['tags'].head()

0    learn to design data models, build data wareho...
1    envision and execute the development of indust...
2    get hands-on experience building five real-wor...
3    gain foundational data skills like analyzing d...
4    build effective machine learning models, run d...
Name: tags, dtype: object

In [121]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity


new_df = new_df.copy()
new_df['tags'].fillna(' ', inplace=True)

text_data = new_df['tags']

# Count Vectorizer
vectorizer = CountVectorizer()
matrix = vectorizer.fit_transform(text_data)
cosine_sim = cosine_similarity(matrix , matrix)

In [122]:


def get_internship(tags):
    selected_tags = ', '.join(tags)

    user_vector = cv.transform([selected_tags])
    cosine_sim_with_selected_tags = cosine_similarity(user_vector, count_matrix)

    sim_scores = list(enumerate(cosine_sim_with_selected_tags[0]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    indices = [score[0] for score in sim_scores[:5]]
    recommendations = []
    for i in indices:
        recommendations.append({"courses": new_df['Title'].iloc[i], "Description": new_df["Description"].iloc[i],
                                "Level": new_df["Level"].iloc[i], "Duration": new_df["Duration"].iloc[i],
                                "Skills Covered": new_df['Skills Covered'].iloc[i],
                                "prerequisites": new_df['Prerequisites'].iloc[i], "URL": new_df['URL'].iloc[i]})
    
    return recommendations

In [ ]:
# def search_courses(keyword, df):
#     matching_courses = df[df['tags'].str.contains(keyword, case=False, na=False)]
    
#     if not matching_courses.empty:
#         return matching_courses['Title'].tolist()
#     else:
#         return "No matching courses found."

# # Example
# search_keyword = 'Python'  
# matching_courses = search_courses(search_keyword, df)

# print("Matching Courses:")
# print(matching_courses)

Matching Courses:
['Introduction to Programming', 'Data Analyst', 'Programming for Data Science with Python', 'Full Stack Web Developer', 'AI Programming with Python', 'Intermediate Python', 'Data Structures and Algorithms', 'Linear Algebra Refresher Course', 'Authentication & Authorization: OAuth', 'Designing RESTful APIs', 'Introduction to Python Programming', 'Full Stack Foundations', 'Design of Computer Programs', 'Software Debugging', 'Intro to Relational Databases', 'HTTP & Web Servers', 'Intro to Data Analysis', 'Differential Equations in Action']

In [ ]:
# # In Recommendation_system_courses.ipynb
# # Save the recommendation function
# %run -i "./recommendation_module.py"
# #

In [ ]:

# def recommend_courses(keyword, similarity_matrix, df, top_n=5):
#     #  index of the course matching the keyword
#     keyword_index = df[df['tags'].str.contains(keyword, case=False, na=False)].index
#     if not keyword_index.empty:
#         keyword_index = keyword_index[0]
#     else:
#         return []

#     #  similarity scores for the keyword course
#     similarity_scores = list(enumerate(similarity_matrix[keyword_index]))

#     # Sort based on similarity scores
#     sorted_courses = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

#     # Exclude the keyword course itself
#     sorted_courses = [index for index, _ in sorted_courses if index != keyword_index]

#     # Return the top N recommended courses
#     return df['Title'].iloc[sorted_courses[:top_n]].tolist()